.c-svg-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  &:disabled {
    opacity: 0.8;
    filter: alpha(opacity=60);
  }

  &:hover {
    opacity: 0.85;
    filter: alpha(opacity=85);
  }

  &:active {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
