.preview {
  width: 200px;
  max-height: 100%;
  overflow: auto;
  border-right: 1px solid #aaa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding-right: 2px;
}

.slide-preview {
  width: 99%;
  height: 100px;
  position: relative;
  opacity: 0.78;
  display: flex;
  padding: 5px;

  &:hover {
    opacity: 1;
    cursor: pointer;
    background-color: #4b82b444;
  }

  &:active {
    background-color: #4b82b477;
  }

  &.slide-preview-active {
    opacity: 1;
    background-color: #4b82b4aa;
  }

  & .slide-preview-index {
    padding-right: 8px;
  }

  & .slide-preview-slide {
    border: 1px solid #8a8a8a;
    background-color: rgba(0, 0, 0, 0.22);
    width: 100%;
  }
}
