.preview {
  width: 200px;
  max-height: 100%;
  overflow: auto;
  border-right: 1px solid #aaa;
  box-shadow: 0 0 8px #0000001a;
  padding-right: 2px;
  z-index: 1000;
  perspective: 1;
  background-color: white;

  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #428acd;
    outline: 1px solid slategrey;
  }
}

.slide-preview {
  width: 180px;
  height: 100px;
  position: relative;
  opacity: 0.78;
  display: flex;
  padding: 5px;

  &:hover {
    opacity: 1;
    cursor: pointer;
    background-color: #4b82b444;
  }

  &:active {
    background-color: #4b82b477;
  }

  &.slide-preview-active {
    opacity: 1;
    background-color: #4b82b4aa;
  }

  & .slide-preview-index {
    padding-right: 8px;
    width: 32px;
  }

  & .slide-preview-slide {
    border: 1px solid #8a8a8a;
    background-color: rgba(0, 0, 0, 0.22);
    width: 100%;
  }
}

.slide-to-snapshot {
  background: white;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}

.snapshot-children {
  width: 100vw;
  height: 100vh;
}
