.preview {
  width: 200px;
  max-height: 100%;
  overflow: auto;
  border-right: 2px solid;
  padding-right: 2px;
  z-index: 1000;
  perspective: 1;
  justify-content: flex-start safe;

  @media (max-width: 768px) {
    display: flex;
    max-width: 100vw;
    width: 100vw;
    min-height: 100px;
    height: 100px;
    overflow-y: hidden;
    border-right: 0;
    border-top: 2px solid;
  }
}

.slide-preview {
  width: 180px;
  height: 100px;
  position: relative;
  opacity: 0.78;
  display: flex;
  padding: 5px;
  flex-shrink: 0;

  @media (max-width: 768px) {
    min-height: 100px;
    height: 100px;
    width: 155px;
    padding: 3px;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
    background-color: #4b82b444;
  }

  &:active {
    background-color: #4b82b477;
  }

  &.slide-preview-active {
    opacity: 1;
    background-color: #4b82b4aa;
  }

  & .slide-preview-index {
    padding-right: 8px;
    width: 32px;
  }

  & .slide-preview-slide {
    border: 1px solid #8a8a8a;
    background-color: rgba(0, 0, 0, 0.22);
    width: 100%;
  }
}

.slide-to-snapshot {
  background: white;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.snapshot-children {
  width: 100vw;
  height: 100vh;
}
